<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Python-Node(Parcel) App</title>
</head>
<body>
    <div id="root"></div>
	<script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>